@font-face {
    src: url(/fonts/OpenSans-Regular.ttf) format('truetype');
    font-family: 'Open Sans'
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
    background-color: #efefef;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.content h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.form {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

/* bootstrap overrides */

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.icon-fix {
    margin-bottom: 5px; 
    margin-right: 5px; 
    vertical-align: middle; 
    line-height: 12px;
}