<div class="content" ng-controller="releaseNotes-controller">
    <h2>TFS Release Notes</h2>
    <div class="form">
        <div class="form-horizontal">
            <div class="form-group collapsible-content" ng-click="releaseNotes.showPresetSection = !releaseNotes.showPresetSection">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right' : releaseNotes.showPresetSection, 'glyphicon-chevron-down' : !releaseNotes.showPresetSection }"> </span> Presets
            </div>
            <div ng-class="{ 'collapse' : releaseNotes.showPresetSection }">
                <div class="form-group"
                     ng-if="releaseNotes.presets.length > 0">
                    <label class="control-label small">
                        <span class="col-sm-4">Recall Presets</span>
                        <div class="col-sm-5">
                            <select class="form-control input-sm"
                                    ng-options="preset.presetName for preset in releaseNotes.presets"
                                    ng-model="releaseNotes.selectedPreset"
                                    ng-change="releaseNotes.presetChanged()">
                                <option></option>
                            </select>
                    </label>
                </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-sm" ng-click="releaseNotes.deletePreset()"> <span class="glyphicon glyphicon-trash"></span> Delete </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Save Preset</span>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" placeholder="Preset name" ng-model="releaseNotes.newPreset" />
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-sm" ng-click="releaseNotes.savePreset()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </div>
                    </label>
                 
                </div>
            </div>
            <div class="form-group collapsible-content"
                 ng-click="releaseNotes.showRequiredSection = !releaseNotes.showRequiredSection">
                <span class="glyphicon"
                      ng-class="{ 'glyphicon-chevron-right' : releaseNotes.showRequiredSection, 'glyphicon-chevron-down' : !releaseNotes.showRequiredSection }">
                </span> TFS Server/Project Information (Required)
            </div>
            <div ng-class="{ 'collapse' : releaseNotes.showRequiredSection }">
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Team Projects Collection</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.teamProjectPath" placeholder="eg. https://mytfs.com/tfs/myprojects"/>
                        </div>
                    </label>                       
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Project Name</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.projectName" />
                        </div>
                    </label>                      
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Iteration Path</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.projectSubpath" placeholder="Leave blank if iteration is at project root" />
                        </div>
                    </label>                   
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Iteration</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.iteration" placeholder="Name of iteration (Release 9, Sprint 7, etc.)" />
                        </div>
                    </label>                    
                </div>
            </div>
            <div class="form-group collapsible-content" ng-click="releaseNotes.showOptionalSection = !releaseNotes.showOptionalSection">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right' : releaseNotes.showOptionalSection, 'glyphicon-chevron-down' : !releaseNotes.showOptionalSection }"> </span> Optional Info
            </div>
            <div ng-class="{ 'collapse' : releaseNotes.showOptionalSection }">
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Database Name</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.database" />
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Database Server</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.databaseServer" />
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">Web Server</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.webServer" />
                        </div>
                    </label>                   
                </div>
                <div class="form-group">
                    <label class="control-label small">
                        <span class="col-sm-4">App Location</span>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="releaseNotes.fields.webLocation" placeholder="How to access this location (eg. URL)" />
                        </div>
                    </label>                   
                </div>
                <div class="form-group content-divider"></div>
            </div>
            <div class="form-group">
                <label class="control-label small">
                    <span class="col-sm-4">Generator</span>
                    <div class="col-sm-8">
                        <select class="form-control input-sm"                                
                                ng-options="generator.name for generator in releaseNotes.generators"
                                ng-model="releaseNotes.selectedGenerator"
                                ng-change="releaseNotes.setGenerator()"
                                ng-init="releaseNotes.selectedGenerator = releaseNotes.generators[0]; releaseNotes.fields.generator = releaseNotes.generators[0].name;"></select>
                    </div>
                </label>                              
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default small" ng-click="releaseNotes.generate()">
                        <span class="glyphicon glyphicon-download icon-fix"> </span>Generate Release Notes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>