<div class="modal-header">
    <h3 class="modal-title">Take a coffee break</h3>
</div>
<div class="modal-body">
        Your release notes are being generated. They'll be ready shortly!
</div>
<div class="modal-footer">
    <progressbar class="progress-striped active" max="100" value="100"></progressbar>
</div>

